body {
  font-family: Calibri, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.container {
  max-width: 300px;
  margin: 20px 0;
  text-align: center;
}

.left-panel, .right-panel {
  display: inline-block;
  vertical-align: top;
  width: 200px; /* Adjusted width for space between panels */
  padding: 0 50px; /* Add space to center the elements */
}

.left-panel .input-container, .right-panel .input-container {
  position: relative;
}

.input-left, .input-right {
  width: 100px;
  height: 20px;
  font-size: 14px;
  margin-bottom: 10px;
}

.remove-input {
  position: absolute;
  top: 0;
  right: -20px; /* Move the 'x' button left a bit */
  cursor: pointer;
  color: red;
  font-weight: bold;
}

.button-container {
  margin-bottom: 20px;
}

#add-pi-term {
  position: relative;
  left: -50px; /* Align under left panel */
  width: 100px;
  height: 20px;
}

#remove-pi-terms {
  position: relative;
  left: 50px; /* Align under right panel */
  width: 100px;
  height: 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 20px;
}

.footer textarea {
  width: 48%; /* Each textarea takes nearly half the width */
  height: 100px;
  font-size: 14px;
  margin-bottom: 10px;
}
